<tr dojoAttachEvent="onclick:viewOrderDetails"> 
	<td style="text-align:center">${order.dailyCounter}</td>
	<td style="text-align:center;padding:4px;"><a href="#">${order.idXlated}</a></td>	
	<td >${order.orderedDate}</td>
	<td style="text-align:center">${order.orderedHour}</td>
	<td style="text-align:center" class="${order.statusCss}"><img alt="${order.statusImageAlt}" title="${order.statusImageAlt}" src="${order.statusImage}" /></td>
	<td style="text-align:center" class="elapsedLastStatusChange"></td>
	<td style="text-align:center" class="elapsedTotal"></td>
	
</tr>