<div>
<div class="dateRangeSelection" style="display: none;">
Filtrar de:<input width="58" dojoType="dijit.form.DateTextBox" class="startDate" /> a:<input width="58" dojoType="dijit.form.DateTextBox" class="endDate"/> 
<button baseClass="orangeButton" class="updateOrdersByDateRange" dojoType="dijit.form.Button"	dojoAttachEvent="onclick:updateOrdersByDateRange" >Atualizar</button></div>
<p class="mensagem" dojoAttachPoint="ordersTitle"></p>

<table class="andamento">
	<thead>
		<tr>
			<th>No do Pedido</th>
			<th>Data</th>
			<th>Hora de Entrada do Pedido (H:M:S)</th>
			<th>Status</th>
			<th>&Uacute;ltima mudan&ccedil;a de status</th>
		</tr>
	</thead>
	<tbody class="tbody" >		
	</tbody>
</table>
</div>