<div class="widgetContent">

<div id="topoResultado">
<div class="canto cantoSupDir"></div>


<h2>${i18nStrings.resultsTitleLabel}</h2>

<p id="resultadoMensagem" class="resultadoMensagem"></p>
<div class="canto cantoInfDir"></div>
</div>

<div id="itensBusca" class="resultsList">

</div>

<!-- <div id="paginacao"><span class="voltar">Primeira |
Anterior</span> <span class="paginas">1, <span class="selecionado">2</span>,
3, 4</span> <span class="avancar">Pr&oacute;xima | &Uacute;ltima</span></div>-->
</div>