<div style="width: 100%;min-width: 620px; border-bottom: 1px solid black;cursor: pointer;">
<div style="width: 90px;" class="orderState orderDataEntry" dojoAttachPoint="status"></div>
<div style="width: 90px;" class="orderDataEntry" dojoAttachPoint="orderId"></div>
<div class="orderDataEntry" dojoAttachPoint="orderedTime"></div>
<div class="orderDataEntry" dojoAttachPoint="lastChange"></div>
<div class="orderDataEntry" dojoAttachPoint="totalTime"></div>
<div style="display: inline-block; width: 205px;font-style: italic;" dojoAttachPoint="summary"></div>
</div>