
<div>
<div style="float: right">Tempo decorrido:<b>??:??</b> H:M</div>
<div>Pedido Número: <span dojoAttachPoint="orderNumber"></span>100.110</div>
<div style="border-top: 1px solid black;">Cliente: Rafael Coutinho
(3/4)<br />
Telefone: 2121-0788 - CPF: 045432966-05</div>
<div style="border-top: 1px solid black;">Endereço de entrega:<br />
Rua Tiradentes, 426, apto 92, Campinas<br>
Telefone: 19 8111-1172</div>
<div style="border-top: 1px solid black;">Pagamento: Dinheiro -
Troco para R$ 45,00</div>
<div style="border-top: 1px solid black;">Pedido:<br />
<table>
	<tr>
		<th>Nome</th>
		<th>Qtd</th>
		<th>Valor</th>
	</tr>
	<tr>
		<td>Filet ao molho madeira</td>
		<td>1</td>
		<td>R$ 25,00</td>
	</tr>
	<tr>
		<td>Coco cola 2lts</td>
		<td>1</td>
		<td>R$ 5,00</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: right;">Taxa entrega</td>
		<td>R$ 6,00</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: right;">Total</td>
		<td>R$ 36,00</td>
	</tr>
</table>
<br>
<div>Observação: 'Filet ao ponto'</div>
</div>
<div style="margin: 12px; text-align: right;">
<button class="changeToNextStatus" dojoType="dijit.form.Button"
	baseClass="orangeButton">Confirmar</button>
<button class="changeToNextStatus" dojoType="dijit.form.Button"
	baseClass="orangeButton">Cancelar</button>
</div>
</div>