<tr >
	<td class="descricao"><div dojoAttachPoint="imgPlace" style="float:left"></div>	
	<span class="platetitle" dojoAttachPoint="titleSection">${plate.title}</span><br clear="all"/> ${plate.description}</td>
	<td>${plate.priceFormatted}</td>
	<td class="quantidade"><span dojoAttachEvent="onclick:decrease">- </span> <input style="width:15px;" width="25" dojoType="dijit.form.TextBox"
		class="quantidadeValue" height="15" /> <span dojoAttachEvent="onclick:increase"> +</span></td>	
	<td><img alt="Pedir" src="/resources/img/btPedir.png" dojoAttachEvent="onclick:onClick" style="cursor: pointer;"/></td>
</tr>