@CHARSET "UTF-8";

/* ------------ TAGs --------------------- */

h2 {
	padding: 5px;
}

/* ------------ IDs --------------------- */

#abas {
	height: 25px;
}

#abas a {
	height: 17px;
	display: inline-block;
	padding: 4px 10px;
	margin: 0px;
}

#abas a.active {
	color: white;
	background: rgb(217, 38, 28);
}

#abas a.inactive {
	color: rgb(108, 104, 104);
	background: rgb(194, 194, 194);
}

#barraEmbaixo {
	clear: both;
	height: 20px;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 10px;
}

#barraEmbaixo img {
	margin-top: -15px;
	margin-left: -50px;
}

#bDayCalendar {
	position: absolute;
}

#camposUsuario {
	padding: 5px;
	margin: 10px;
	float: left;
	width: 350px;
	border-right: 1px solid rgb(96, 93, 93);
	padding-bottom: 50px;
}

#enderecos {
	margin-bottom: 50px;
	padding: 10px;
	text-align: left;
}
	

#preferencias {
	height: 300px;
}


/* ------------ Classes --------------------- */
.campos {
	padding: 10px;
}

.campos span {
	padding: 2px;
}

.campos input {
	margin: 10px;
}

.dijitDialogPaneContent form {
	margin-bottom: 10px;
}

.dijitDialogPaneContent .botao {
	width: 50px;
	cursor: pointer;
	margin: 5px 15px;
}

.endereco {
	border-bottom: 1px solid rgb(96, 93, 93);
	width: 400px;
	position: relative;
	margin-top: -10px;
	margin-bottom: 10px;
}

.endereco form {
	margin: 10px 0px 15px;
}

.endereco h2 {
	color: rgb(217, 38, 28);
	margin-bottom: -10px;
}

.endereco .botao {
	position: absolute;
	right: 0px;
	top: 40px;
	width: 56px;
	height: 56px;
	cursor: pointer;
}

.endereco .required {
	margin-left: 0;
}

.endereco .salvar {
	position: absolute;
	right: -10px;
	top: 70px;
	width: 56px;
	height: 56px;
	cursor: pointer;
}

.option {
	display: inline-block;
	width: 150px;
	height: 15px;
	padding: 2px;
	margin: 0px;
}

.roundedInput  {
	top: 6px;
}

.text input, .password input {
	margin-left: 3px;
	margin-top: 0px;
}