<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title"  style="width:233px;height:32px;">
    <div dojoAttachPoint="titleBar" class="dijitDialogTitleBar" style="display:none">
    <span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title">${title}</span>
    <span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel">
        <span dojoAttachPoint="closeText" class="closeText">x</span>
    </span>
    </div>
        <div dojoAttachPoint="containerNode" class="dijitDialogPaneContent" style="text-align:center;background-repeat:no-repeat;background-image: url('/resources/img/barra_vermelha.png');color: white;font-size: medium;font-weight: bold;"><img src='/resources/img/loading.gif' style="float: left;"></img><span dojoAttachPoint="loadingtxt" style="color:white">a</span></div>
</div>
