<div class="cardapio" style="width: 650px">
<h2>Card&aacute;pio<img src="/resources/img/loader.gif" class="loadingSection" style="width:15px;"/></h2>

<ul id="categorias" style="display:block">
		<li></li>
</ul>
<div class="addFractionPlate" dojoAttachEvent="onclick:addFractionPlate"  ><button baseClass="orangeButton" dojoType="dijit.form.Button">Monte sua pizza meio a meio</button><br/></div>
<table id="cardapio"  style="margin: -15px 0px 0px 100px;">
	<thead>
		<tr>
			<th>Descri&ccedil;&atilde;o</th>
			<th>Pre&ccedil;o Unit&aacute;rio</th>
			<th><span class="qtdLabel">Quantidade</span></th>
			<th> </th>
		</tr>
	</thead>
	<tbody class="plateMenuList">		
	</tbody>
</table>

</div>