<div>

<table id="andamento">
	<thead>
		<tr>			
			<th>No do Pedido</th>
			<th>Hora de Entrada do Pedido (H:M)</th>
			<th>&Uacute;ltima altera&ccedil;&atilde;o (H:M)</th>
			<th>Status</th>
			<th>Restaurante</th>
		</tr>
	</thead>
	<tbody class="tbody">
		
	</tbody>
</table>
<span class="msgNode"></span><br/>
<div class="latestDiv" style="display: none;">
<h3>Pedidos recentes:</h3>
<table id="ultimosPedidos">
	<thead>
		<tr>			
			<th>No do Pedido</th>
			<th>Hora de Entrada do Pedido (H:M)</th>
			<th>&Uacute;ltima altera&ccedil;&atilde;o (H:M)</th>
			<th>Status</th>
			<th>Restaurante</th>
		</tr>
	</thead>
	<tbody class="tbodyultimos">		
	</tbody>
</table>
</div>

</div>