@CHARSET "UTF-8";

#btAddWrap {
	margin-left: -20px;
}

#listaBairros {
	border: 1px solid;
	width: 250px;
	height: 100px;
	overflow: auto;
	margin-top: -15px;
}

#listaBairros .item {
	padding: 2px;
	position: relative;
	border-bottom: 1px solid;
}

#listaBairros .item:hover {
	background: rgb(230, 230, 230);
}

#listaBairros .item .apagar {
	position: absolute;
	right: 2px;
	color: rgb(217, 38, 28);
	cursor: pointer;
}